numpy==1.25.2
opencv-python==4.8.0.76
matplotlib==3.7.2
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
torch-geometric==2.3.1
-f https://data.pyg.org/whl/torch-2.0.0+cu117.html
pyg-lib
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
